.po_wrapper {
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 0px;
    background: none;
    padding-right: 0px;
    padding-bottom: 0px;
    min-width: 200px;
    max-width: none;
}

.po_inner {
    border: 0px;
}

#main {
    min-width: 400px;
    min-heigth: 200px;
}

.po_wrapper H1 {
    background: none;
    padding: 0px 0px 0px 0px;
    color: black;
    font-size: 14px;
    margin: 0;
    border-top: none;
    border-left: none;
    border-bottom: none;
    display: none;
}