<?xml version="1.0" encoding="UTF-8"?>
<profilesXml xmlns="http://maven.apache.org/PROFILES/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/PROFILES/1.0.0 http://maven.apache.org/xsd/profiles-1.0.0.xsd">
<profiles>
    <profile>
        <id>local</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
    </profile>
    <profile>
        <id>quick</id>
        <activation>
            <activeByDefault>false</activeByDefault>
        </activation>
        <properties>
            <struts.devMode>true</struts.devMode>
            <cobertura.check.haltOnFailure>false</cobertura.check.haltOnFailure>
            <skipTests>true</skipTests>
            <!-- maven.test.skip>true</maven.test.skip-->
            <pmd.skip>true</pmd.skip>
            <checkstyle.skip>true</checkstyle.skip>
        </properties>
    </profile>
    <profile>
        <id>debug</id>
        <activation>
            <activeByDefault>false</activeByDefault>
        </activation>
        <properties>
            <maven.surefire.debug>-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=8787 -Xnoagent -Djava.compiler=NONE</maven.surefire.debug>
        </properties>
    </profile>
    
</profiles>
</profilesXml>