<?xml version="1.0" encoding="UTF-8"?>
<web-app id="PO" xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
      version="3.0">   

    <display-name>PO</display-name>
    
    <!-- Curation session-timeout -->
    <session-config>
        <session-timeout>240</session-timeout>
         <cookie-config>
            <http-only>true</http-only>
        </cookie-config>    
    </session-config>
    
    <listener>
        <listener-class>liquibase.integration.servlet.LiquibaseServletListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>gov.nih.nci.coppa.web.CSMInitializingListener</listener-class>
    </listener>
    
    <!-- CSM. -->
    <context-param>
        <param-name>csmApplicationName</param-name>
        <param-value>po</param-value>
    </context-param>
    
    <!-- Liquibase Parameters -->
    <context-param>
        <param-name>liquibase.changelog</param-name>
        <param-value>/db/db-changelog.xml</param-value>
    </context-param>

	<context-param>
	    <param-name>liquibase.datasource</param-name>
	    <param-value>java:jboss/datasources/po-xa-ds</param-value>
	</context-param>
	
	<context-param>
	    <param-name>liquibase.onerror.fail</param-name>
	    <param-value>true</param-value>
	</context-param>
	

    <!-- Define the basename for a resource bundle for I18N -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ApplicationResources</param-value>
    </context-param>
    <context-param>
        <param-name>showErrorStackTraces</param-name>
        <param-value>${showErrorStackTraces}</param-value>
    </context-param>
    <context-param>
        <param-name>defaultPageSize</param-name>
        <param-value>${defaultPageSize}</param-value>
    </context-param>
    <context-param>
        <param-name>appTagVersion</param-name>
        <param-value>${project.version}</param-value>
    </context-param>
    <context-param>
        <param-name>appTagRevision</param-name>
        <param-value>${buildNumber}</param-value>
    </context-param>
    <context-param>
        <param-name>helpUrl</param-name>
        <param-value>${helpUrl}</param-value>
    </context-param>
    <context-param>
        <param-name>usersGuideUrl</param-name>
        <param-value>${usersGuideUrl}</param-value>
    </context-param>

    <!-- Filters -->
    <filter>
        <filter-name>RequestTrackingFilter</filter-name>
        <filter-class>gov.nih.nci.coppa.web.RequestTrackingFilter</filter-class>
    </filter>    
    <filter>
        <filter-name>usernameFilter</filter-name>
        <filter-class>com.fiveamsolutions.nci.commons.web.filter.UsernameFilter</filter-class>
    </filter>
    <filter>
        <filter-name>openSessionFilter</filter-name>
        <filter-class>gov.nih.nci.po.web.session.PoOpenSessionInViewFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts2-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>sessionFixation</filter-name>
        <filter-class>com.fiveamsolutions.nci.commons.web.filter.SessionFixationProtectionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>csmUserFilter</filter-name>
        <filter-class>gov.nih.nci.po.web.filter.CsmUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestTrackingFilter</filter-name>
        <url-pattern>/*</url-pattern>       
    </filter-mapping>
     <filter-mapping>
        <filter-name>sessionFixation</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>usernameFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>openSessionFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>        
    </filter-mapping>    
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/struts/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>csmUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!-- Welcome file lists -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <url-pattern>/protected/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Curator</role-name>
            <role-name>SecurityAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <url-pattern>/protected/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>security</web-resource-name>
            <url-pattern>/security/*</url-pattern>          
        </web-resource-collection>
        <auth-constraint>
            <role-name>SecurityAdmin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>${web.auth.method}</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login/loginFailed.action</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>Curators organize and oversee data quality in PO.</description>
        <role-name>Curator</role-name>
    </security-role>
    <security-role>
        <description>Security administrators manager users and groups in PO.</description>
        <role-name>SecurityAdmin</role-name>
    </security-role>
</web-app>
